@(tasks: List[List[String]], taskForm: Form[String], error:String = "")

@import helper._

@main("Todo list") {
    @error
    <h1>@tasks.size task(s)</h1>
    
    <ul>
        @tasks.map { task =>
            <li>
                @task(0)
                
                @form(routes.Application.deleteTask(task(1))) {
                    <input type="submit" value="Delete">
                }
            </li>
        }
    </ul>
    
    <h2>Add a new task</h2>
    
    @form(routes.Application.newTask) {
        
        @inputText(taskForm("label")) 
        
        <input type="submit" value="Create">
        
    }
    
}
