@(users:List[User], userForm:Form[User])

@main("List of users"){
    <ul>
        @for(user <- users){
            <li>@(s"(id: ${user.id}) ${user.email}")</li>
        }
    </ul>
        @helper.form(action = routes.Users.post()){
            @helper.inputText(userForm("name"))
            @helper.inputText(userForm("email"))
            <input type="submit" />
        }
    <ul>
        @if(userForm.hasGlobalErrors){
            @userForm.globalErrors.foreach{ error =>
                <li>@error.message</li>
            }
        }
    </ul>
}