@(users:List[User], userForm:Form[User])

@main("List of users"){
    <ul>
        @for(user <- users){
            <li>@(s"(id: ${user.id}) ${user.email}")</li>
        }
    </ul>
    <hr />
    @helper.form(action = routes.Users.post()){
        @helper.inputText(userForm("name"))
        @helper.inputText(userForm("email"))
        <input type="submit" />
    }
    @if(userForm.hasErrors){
        <hr />
    }
    <ul>
        @if(userForm.hasErrors){
            @for(error <- userForm.errors){
                <li>@error.key: @error.message- @error.args</li>
            }
        }
    </ul>
}